<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="System_Pointage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="System_Pointage.Properties.Settings.System_PointageConnectionString"
      connectionString="Data Source=.\;Initial Catalog=System_Pointage;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
    <add name="System_Pointage.Properties.Settings.System_PointageConnectionString1"
      connectionString="Data Source=DESKTOP-G2HKEA1;Initial Catalog=System_Pointage;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <System_Pointage.Properties.Settings>
      <setting name="CON_STRING" serializeAs="String">
        <value />
      </setting>
      <setting name="Server_Globale" serializeAs="String">
        <value />
      </setting>
      <setting name="Database_Globale" serializeAs="String">
        <value />
      </setting>
      <setting name="Utilisateur_Globale" serializeAs="String">
        <value />
      </setting>
      <setting name="Password_Globale" serializeAs="String">
        <value />
      </setting>
      <setting name="Mode_Globale" serializeAs="String">
        <value />
      </setting>
      <setting name="test" serializeAs="String">
        <value>Data Source=SQL1002.site4now.net;Initial Catalog=db_ab25ba_roddik1;User Id=db_ab25ba_roddik1_admin;Password=aze12345
</value>
      </setting>
      <setting name="test2" serializeAs="String">
        <value>Data Source= 10.255.2.1,1433;Initial Catalog=System_Pointage;User ID=sa;Password=123;Encrypt=False;TrustServerCertificate=True</value>
      </setting>
    </System_Pointage.Properties.Settings>
  </userSettings>
</configuration>
